@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/ajax-modules.js"></script>
<script>
    $(document).ready(function () {
        $('#coount').hide();
        SetInputNumeric('Mobile');
        SetInputMobile('OtpCode');
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#sendOTP").click(function () {
            $("#sendOTP").attr("disabled", "disabled");
            $('#coount').show();
            sendOTPCodes();

            setTimeout(function () {
                $("#sendOTP").removeAttr("disabled");
            }, 62000);
            var timeLeft = 62;
            var elem = document.getElementById('coount');

            var timerId = setInterval(countdown, 1000);

            function countdown() {
                if (timeLeft == 0) {
                    clearTimeout(timerId);
                    // doSomething();
                    elem.innerHTML = "";
                } else {
                    elem.innerHTML = timeLeft + ' seconds remaining';
                    timeLeft--;
                }
            }
        });
    });
    function sendOTPCodes() {
        var mess = "OTP Code for Nice Home password recovery is = ";
        $.ajax({
            type: "POST",
            url: "/Admin/VarifyandSendOTPCode",
            dataType: "json",
            data: "{'MobileNo': '" + $('#Mobile').val() + "','Message': '" + mess + "'}",

            contentType: "application/json; charset=utf-8",
            success: OnSuccess,
            failure: function (data) {
                alert(data.d);
            }
        });
        function OnSuccess(response) {
            alert(response);
        }
    }
</script>
<script type="text/javascript">
    function refreshCaptcha() {
        $.ajax({
            type: "POST",
            url: "/Admin/RefereceCaptcha",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: OnSuccess1,
            failure: function (data) {
                alert(data.d);
            }
        });
    }
    function OnSuccess1(data) {
        d = new Date();
        $('#captcha').attr("src", "/UploadFiles/captcha.jpg?" + d.getTime());
    }
</script>
<!-- Pre-loader end -->
<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <div class="md-float-material form-material">
                    <div class="text-center">
                        <img src="~/adminty-master/files/assets/images/logo.png" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-left">Recover your password</h3>
                                </div>
                            </div>
                            @using (Html.BeginForm("PasswordRecovery", "Admin", FormMethod.Post))
                            {
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        @Html.TextBox("Mobile", null, new { required = "Please enter mobile number", placeholder = "Your Mobile Number", @class = "form-control", maxlength = "10" })
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-8">
                                        <label id="coount" style="color:red">Time Remaining</label>
                                    </div>
                                    <div class="col-md-4">
                                        <button id="sendOTP" type="button" class="btn btn-success text-center m-b-20 float-right">Send OTP</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        @Html.TextBox("OtpCode", null, new { required = "Please enter otp code", placeholder = "Enter OTP", @class = "form-control", maxlength = "4" })
                                        <span class="form-bar"></span>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <img id="captcha" src="~/UploadFiles/captcha.jpg" />
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBox("CaptchaCode", null, new { required = "Please enter captcha code", placeholder = "Enter Captcha Code", @class = "form-control", maxlength = "6" })
                                        <span class="form-bar"></span>
                                    </div>
                                    <div class="col-md-2">
                                        <button id="refCpatcha" type="button" onclick="refreshCaptcha();" class="btn btn-success text-center m-b-20 float-right"><i class="icofont icofont-refresh"></i></button>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Reset Password" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" />
                                    </div>
                                </div>
                            }
                            <p class="f-w-600 text-right"> <a href="@Url.Action("Index", "Admin")">Back to Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>

