<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to you Women World</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Right combination of natural, scientific, financial, managerial and operational skills to withstand the winds of change, A change towards using natural plant based products and put A Big stop towards chemical products">
    <meta name="keywords" content="Plant based Nutrition combining Modern Science &amp; Ancient Ayurveda. From Meal Replacements, Collagen to Vegan Protein - we bring you Raw, Natural and Clean Nutrition">
    <meta name="author" content="Anil Choudhary">
    <!-- Favicon icon -->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/feather.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/prism.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/component.css">

    <!-- Data Table Css -->
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/buttons.dataTables.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Adminty/css/Common.css" />

    <!-- Js Require -->

    <script src="~/Adminty/custome-js/jquery-3.3.1.min.js"></script>
    <script src="~/Adminty/custome-js/jquery-ui-1.10.2.min.js"></script>
    <script src="~/Adminty/custome-js/ajax-modules.js"></script>
    <script src="~/Adminty/custome-js/auto-complete.js"></script>
    <script src="~/Adminty/custome-js/sweetalert.min.js"></script>

</head>
<!-- Menu sidebar layout -->

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <!-- Menu header start -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <!-- Top Menu -->
            @Html.Partial("~/Views/Menu/CustomerTopMenu.cshtml")
            <div class="pcoded-main-container mybg">
                <div class="pcoded-wrapper ">
                    @RenderPage("~/Views/Menu/CustomerLeftMenu.cshtml")
                    <div class="pcoded-content ">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper ">
                                    <div class="page-body">
                                        @RenderBody()
                                    </div>
                                </div>
                            </div>
                            <div id="styleSelector">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Required Jquery -->
    <script type="text/javascript" src="~/Adminty/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/popper.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/jquery-ui.min.js"></script>


    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/Adminty/js/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/Adminty/js/modernizr.js"></script>
    <script type="text/javascript" src="~/Adminty/js/css-scrollbars.js"></script>
    <!-- Syntax highlighter prism js -->
    <script type="text/javascript" src="~/Adminty/js/custom-prism.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="~/Adminty/js/pcoded.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/menu-sidebar-fixed.js"></script>
    <script type="text/javascript" src="~/Adminty/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/script.js"></script>

    <!-- modalEffects js nifty modal window effects -->
    <script type="text/javascript" src="~/Adminty/js/modalEffects.js"></script>
    <script type="text/javascript" src="~/Adminty/js/classie.js"></script>

    <!-- data-table js -->
    <script type="text/javascript" src="~/Adminty/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/dataTables.buttons.min.js"></script>

    <script type="text/javascript" src="~/Adminty/js/jszip.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/pdfmake.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/vfs_fonts.js"></script>

    <script type="text/javascript" src="~/Adminty/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/jszip.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/vfs_fonts.js"></script>
    <script type="text/javascript" src="~/Adminty/js/buttons.colVis.min.js"></script>

    <script type="text/javascript" src="~/Adminty/js/buttons.print.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/buttons.html5.min.js"></script>

    <script type="text/javascript" src="~/Adminty/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Adminty/js/extension-btns-custom.js"></script>
</body>

</html>
