<div class="dropdown-primary dropdown">
    <div class="dropdown-toggle" data-toggle="dropdown">
        <i class="feather icon-shopping-cart"></i>
        <span class="badge bg-c-pink">@Session["ItemCount"]</span>
    </div>
</div>
