@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
        /* ==================================================
      Stats Styling
    ================================================== */
        .stats-row {
            margin-top: 65px;
        }

        .stats-col .circle {
            display: inline-block;
            width: 160px;
            height: 160px;
            font-family: "Raleway", Helvetica, Arial, sans-serif;
            font-weight: 500;
            color: #666;
            border: 6px solid #199EB8;
            border-radius: 50%;
            padding: 55px 25px 0 25px;
            position: relative;
        }

            .stats-col .circle .stats-no {
                color: #fff;
                width: 70px;
                height: 70px;
                line-height: 70px;
                top: -25px;
                right: -15px;
                font-family: "Raleway", Helvetica, Arial, sans-serif;
                font-size: 18px;
                background-color: #E04F00;
                position: absolute;
                border-radius: 50%;
                font-weight: 700;
            }

        /* ==================================================
      Parallax Styling
      ================================================== */
</style>


<div class="container">
    <div class="row mt-4 animated slideInDown">
        <div class="col-md-12 text-center green-underline">
            <h4>About Us</h4>
        </div>
    </div>
    <div class="row mt-3 mb-4 animated bounceInLeft ">
        <div class="col-md-12">
            <div class="about" id="about">
                <p style="margin-top:20px;">
                    We are enhancing our internal operations to ensure a consistent quality and world class products. We will ensure that in all of our actions we strive to ensure that all economic, environmental and social factors are considered.
                </p>
                <h3>Why choose us?</h3>
                <p>
                    We have the key success factors required a right combination of natural, scientific, financial, managerial and operational skills to withstand the winds of change, A change towards using natural plant based products and put A Big stop towards chemical products.
                </p>
                @*<div class="row stats-row">
                    <div class="stats-col text-center col-md-4 col-sm-6">
                        <div class="circle">
                            <span class="stats-no" data-toggle="counter-up">20,980</span> Satisfied Customers
                        </div>
                    </div>

                    <div class="stats-col text-center col-md-4 col-sm-6">
                        <div class="circle">
                            <span class="stats-no" data-toggle="counter-up">90,600</span> Product Sale
                        </div>
                    </div>

                    <div class="stats-col text-center col-md-4 col-sm-6">
                        <div class="circle">
                            <span class="stats-no" data-toggle="counter-up">100%</span> Product Quality
                        </div>
                    </div>

                </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-12">
                        <h3>Why choose us?</h3>
                        <p>
                            We have the key success factors required a right combination of natural, scientific, financial, managerial and operational skills to withstand the winds of change, A change towards using natural plant based products and   put A Big stop towards chemical products.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/UploadFiles/Common/plants.jpg" class="img-fluid" />
                    </div>
                    <div class="col-md-6 text-left">
                        <br />
                        <h4><span class="icofont icofont-plant" style="color:darkcyan"></span> Plant based 100% ayurvedic</h4>
                        <p>Being in the plant based 100% ayurvedic  Products Manufacturing business is a journey and we are on this journey together with serious commitment.</p>
                        <br />

                        <h4><span class="icofont icofont-baby-trolley" style="color:darkcyan"></span> Morden and Hygiene Factory</h4>
                        <p>We ensure our manufacturing area are hygienic and clean, we use modern machinery for testing and manufacture of our products, specially take care of filling and packing and also ensure that quantity of packing is correct.</p>
                        <div class="text-right">
                            <abbr style="color:rebeccapurple">Founder - Rajesh Agarwal (Womkanth Pharmacy)</abbr>
                        </div>

                    </div>
                </div>*@

            </div>
        </div>
    </div>
</div>


