@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container container mt-5 mb-5">
    <div class="row mt-4 animated slideInDown">
        <div class="col-md-12 text-center green-underline">
            <h4>Health Card</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4 col-12">
            <img src="~/UploadFiles/Common/healthcard.jpg" class="img-fluid text-center" />
        </div>
    </div>            
 </div>



