@{
    ViewBag.Title = "Package";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .money{
     font-size:36px;
     font-weight:900;
     color:forestgreen;
     text-align:right;
    }
</style>
<div class="container">
    <div class="row mt-5 mb-5 animated bounceInUp">
        <div class="col-md-12 text-center green-underline">
            <h4 class="card-title">Membership Package</h4>
            <p class="card-text mt-2">Get membership of Womkanth and get exciting offer according to membership package.</p>
        </div>
    </div>
    <div class="row mt-5 mb-5 animated bounceInDown">
        <div class="col-md-4">
            <div class="card p-20 rounded-0">
                <img src="~/UploadFiles/Common/Pack1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Silver Pack</h5>
                    <div class="money">
                        ₹ 500
                    </div>
                    <p class="card-text">Become Womkanth's silver pack member and get 10% off on all our products upto 3 months.</p>
                    <a href="@Url.Action("GetPackage", "Home",new { pack = "Silver" })" class="more-product no-link-white float-end">Get Membership</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-20 rounded-0">
                <img src="~/UploadFiles/Common/Pack2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gold Pack</h5>
                    <div class="money">
                        ₹ 1,000
                    </div>
                    <p class="card-text">Become Womkanth Gold Pack member and get 15% off  on all our products up to 6 months.</p>
                    <a href="@Url.Action("GetPackage", "Home",new { pack = "Gold" })" class="more-product no-link-white float-end">Get Membership</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-20 rounded-0">
                <img src="~/UploadFiles/Common/Pack3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Diamond Pack</h5>
                    <div class="money">
                        ₹ 1,500
                    </div>
                    <p class="card-text">Become Womkanth Diamond pack member and get 20% off on all our products up to one year.</p>
                    <a href="@Url.Action("GetPackage", "Home",new { pack = "Diamond" })" class="more-product no-link-white float-end">Get Membership</a>
                </div>
            </div>
        </div>

    </div>
</div>

