@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container container mt-5 mb-5">
    <div class="row mt-4 animated slideInDown">
        <div class="col-md-12 text-center green-underline">
            <h4>Privacy Policy</h4>
        </div>
    </div>
    <div class="row animated slideInRight">
        
    <div class="row" >
                <div class="col-md-3">
                    <img src="~/UploadFiles/contactus.jpg" class="img-fluid" />
                </div>
                <div class="col-md-9">
                    <p>We are committed to protecting your privacy. Authorized employees , on a need to know basis only use any information collected from individual customers. We constantly review our systems and data to ensure the best possible service to our customers. Privacy Policy relates to the information collected and usage practice of our website http://www.womensworldonline.com and any mode of communication via which we are available for communication including but not limited to emails, sms, chat platforms etc.</p>
                    <p>We recognize that many visitors and users of this Website are concerned about the information they provide to us and how we treat that information. This Privacy Policy, will be updated from time to time, has been developed to address those concerns. By subscribing to or using any of our services you agree that you have read, understood and are bound by the Terms, regardless of how you subscribe to or use the services. If you do not want to be bound by the Terms, you must not subscribe/register to or use our services. These Terms and various other policies are binding as per the provisions of the Information Technology (Intermediaries guidelines) Rules, 2011 formulated under the Information Technology Act of 2000.</p>
                    <p>Women’s World reserves the right, at our sole discretion, to limit the quantity of items purchased per person, per household or per order. These restrictions may be applicable to orders placed by the same account, the same credit / debit card, and also to orders that use the same billing and/or shipping address. We will provide notification to the customer should such limits be applied. Women’s World also reserves the right, at our sole discretion, to prohibit sales to any one as it may deem fit.</p>
                    <p><b>Offensive material: </b>You completely comprehend that by making use of the website or any services offered on the website, you may come across content that may be believed by some as offensive or objectionable. You give consent to make use of the website and any service at your own risk and under the applicable rule. We and our associates shall have no accountability to you for the content may be believed as offensive and objectionable to you.</p>
                    <p><b>Personal Information: </b> All information of the users of our systems, gathered via either the services provided (sale of our products, customer support) or through the communication touch-points (such as emails, chat messengers, phone etc) is stored responsibly. This information is not shared with any third party services other than the vendors of certain services that we use.</p>
                    <p>This information is used to provide the users of systems with the best, personalized experience, for all communication deemed necessary by Women’s World , while the option to opt out of any and all forms of communication is always open to the users.</p>
                    <p>We have taken all care and precaution to try and provide accurate data and information. In the preparation of the content of this website, in particular to ensure that prices quoted are correct at time of publishing and all products have been fairly described. All prices are displayed inclusive of VAT. Services however are listed exclusively of service tax as rules for service tax vary with different services. Packaging may vary from that shown on the portal. The weights, dimensions and capacities given are approximate only.</p>
                    <p>We have made every effort to display as accurately as possible the colors of our products that appear on the website. However, as the actual colors you see will depend on your monitor, we cannot guarantee that your monitor's display of any color will accurately reflect the color of the product on delivery. All products/services and information displayed on womensworldonline.com constitute an invitation to offer.</p>
                    <p>Your order for purchase constitutes your offer which shall be subject to the terms and conditions as listed herein. We reserve the right to accept or reject your offer in part or in full. Our acceptance of your order will take place upon dispatch of the product(s) ordered. Dispatch of all the product(s) ordered, may or may not happen at the same time, in such a scenario that portion of the order which has been dispatched will be deemed to have been accepted by us and the balance would continue to be on offer on womensworldonline.com and we reserve the right to accept or reject such balance order.</p>
                    <p>No act or omission of orders on womensworldonline.com prior to the actual dispatch of the product (s) ordered will constitute acceptance of your offer. If you have supplied us with your email address, we will notify you by email as soon as possible to confirm receipt of your order and email you again to confirm dispatch and therefore acceptance of the order.</p>
                </div>
    </div>
                
    </div>
</div>
