@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-md-12">
            <div class="card layout">
                <div class="card-block">                   
                    <div class="row" style="margin-top:30px;">
                        <div class="col-md-1"></div>
                        <div class="col-md-4" style="margin-bottom:20px;">
                            <img src="~/UploadFiles/Common/thanks.jpg" class="img-fluid" />
                        </div>
                        <div class="col-md-5" style="margin-bottom:20px;">
                            <h1 class="alert alert-success" >Payment Reciept Successfully</h1>

                            <h2>Dear Guest</h2>
                            <hr />
                            <h3>Thanks for Registered with us</h3>
                            <h3>Our Executive will you call you shortly</h3>
                        </div>

                    </div>                   
                </div>
            </div>
        </div>
    </div>

