
@{
    ViewBag.Title = "QRCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Payment</h2>
                <h3 style="color:green">Please pay amount Rs @ViewData["Amount"] using QR Code</h3>
                <img src="~/UploadFiles/Common/QRCode.jpg" height="350"  />
            </div>
>        </div>
    </div>
</section>

